.vs/
build/
CMakeFiles/
*.dll
3rd/glew/
3rd/Oculus_OpenXR_Mobile_SDK/
3rd/Oculus_OVRAudio/
3rd/MetaOpenXR/
3rd/SDL/
3rd/SDL2_windows/
3rd/VulkanSDK/
android/out
quest/out
oculus/gl2tri3dOXR/app/src/main/assets
windows/out
CMakeCache.txt
/windows/buildGl
/windows/buildVk
/windows/buildDx
/windows/outVk
/windows/outGl
assets/
assetses/
emscripten/out
emscripten/build
emscripten/lib
emscripten/include
3rd/emsdk/upstream
3rd/emsdk/downloads
3rd/emsdk/node
3rd/emsdk/python
3rd/emsdk/java
3rd/emsdk/.emscripten
3rd/emsdk/.emscripten_cache
3rd/emsdk/.emscripten_sanity
3rd/emsdk/.emscripten_cache.lock
src/engine/generated
assets/
assetses/
mac/out
.DS_Store
mac/.DS_Store
run_vs.log
run_vs-*.log